*{margin: 0; padding: 0;}

#wrap{
  width: 100%;
}

a:link, a:visited {
  text-decoration: none;
  color: white;
}

ul,li{list-style: none;}

/* header */

header {
  width: 80%;
  padding-left: 20%;
  float: left;
  position: fixed;
  background-color: #6fd0c3;
  transition: 0.5s;
  height: 40px;
  z-index: 100;
}

header.active{
  background-color: #2b2b2b;
}

header > div {
  float: left;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;

}

header > div > p {
  color: white;
  font-size: 180%;
  font-family: fantasy;
}


/* aside */

aside{
  width: 20%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  background-color: #75dbcd;
  transition: 0.5s;
}

aside.active{
  background-color: #2b2b2b;
  color: white;
}

#profile-top {
  width: 100%;
  height: 50%;
}

#toggle{
  position: fixed;
  top: 5px;
  left: 5px;
  display: block;
  width: 50px;
  height: 26px;
  border-radius: 160px;
  background-color: #222;
  transition: 0.5s;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1), inset 0 8px 8 rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 101;
}

#toggle.active{
  box-shadow: inset 0 2px 60px rgba(0,0,0,0.1), inset 0 2px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 8px rgba(0, 0, 0, 0.05);
  background: #fff;
}

#toggle .indicator{
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 8px 40px rgba(255, 255, 255, 0.2),inset 0 4px 4px rgba(255,255,255,0.2),inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}

#toggle.active .indicator{
  left: 25px;
  background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
  box-shadow: 0 8px 20px rgba(0,0, 0, 0.1), inset 0 4px 4px rgba(255, 255, 255, 1), inset 0 -4px 4px rgba(255, 255, 255, 1);
}

.menutab{
  z-index: 2;
  display: none;
  position: fixed;
  width: 80%;
  height: 100%;
  left: 10%;
}

input[id="menuicon"]{display: none;}
input[id="menuicon"] + label{
  display: block;
  position: fixed;
  width: 60px;
  height: 50px;
  top: 7px;
  right: 7px;
  cursor: pointer;
}
input[id="menuicon"] + label div{
  transition: all .35s;
}
input[id="menuicon"] + label .menu-on > img{
  width: 100%;
  height: 100%;
}
input[id="menuicon"] + label .menu-off > img{
  display: none;
  width: 100%;
  height: 100%;
}
input[id="menuicon"]:checked + label .menu-on > img{
  display: none;
}
input[id="menuicon"]:checked + label .menu-off > img{
  display: block;
}

.menubar{
  display: none;
  width: 80%;
  height: 70%;
  background-color: #222;
  position: fixed;  
  transition: all .35s;
  opacity: 0.8;
}

.menuitem{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25%;
  font-size: 30px;
  font-family: "Impact";
}

input[id="menuicon"]:checked + label + div{
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#profile-bottom{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

#profile-top > .photo {
  width: 100%;
  height: 80%;
  padding-top: 10%;
  display: flex;
  justify-content: center;
} 

#profile-top > .hello {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 300%;
  font-family: fantasy;
}

#profile-bottom p{font-size: 18px;}

.photo > img{
  width: 210px; height: 210px;
  border-radius: 50%;
}


/* section */

section{
  padding-left: 20%;
  width: 80%;
  height: 100vh;
  z-index: 90;
  clear: both;
}

#section1 {
  padding-top: 40px;
  background-color: black;
}

/* slide list on section */

[name="slide"] {display: none;}
#section1 .slidelist{
  white-space: nowrap;
  height: 100%;
  width: 100%;
  font-size: 0;
  overflow: hidden;
}

#section1 .slideitem{
  position:relative;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all .35s;
}

.slideitem img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.slideitem > div
{
  height: 100%;
}

#section1 .slideitem label{
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
}

label.left{
  left: 20px;
  background-color: #5f5f5f;
  background-image: url('../jpg/leftarrow.png');
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
}

label.right{
  right: 20px;
  background-color: #5f5f5f;
  background-image: url('../jpg/rightarrow.png');
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
}

[id="slide1"]:checked ~ .slidelist .slideitem {transform: translateX(0); animation:slide1 20s infinite;}
[id="slide2"]:checked ~ .slidelist .slideitem {transform: translateX(-100%); animation:slide2 20s infinite;}
[id="slide3"]:checked ~ .slidelist .slideitem {transform: translateX(-200%); animation:slide3 20s infinite;}
[id="slide4"]:checked ~ .slidelist .slideitem {transform: translateX(-300%); animation:slide4 20s infinite;}

@keyframes slide1{
  0% {left: 0%;}
  23% {left: 0%;}
  25% {left: -100%;}
  48% {left: -100%;}
  50% {left: -200%;}
  73% {left: -200%;}
  75% {left: -300%;}
  98% {left: -300%;}
  100% {left: 0%;}
}

@keyframes slide2{
  0% {left: 0%;}
  23% {left: 0%;}
  25% {left: -100%;}
  48% {left: -100%;}
  50% {left: -200%;}
  73% {left: -200%;}
  75% {left: 100%;}
  98% {left: 100%;}
  100% {left: 0%;}
}

@keyframes slide3{
  0% {left: 0%;}
  23% {left: 0%;}
  25% {left: -100%;}
  48% {left: -100%;}
  50% {left: 200%;}
  73% {left: 200%;}
  75% {left: 100%;}
  98% {left: 100%;}
  100% {left: 0%;}
}

@keyframes slide4{
  0% {left: 0%;}
  23% {left: 0%;}
  25% {left: 300%;}
  48% {left: 300%;}
  50% {left: 200%;}
  73% {left: 200%;}
  75% {left: 100%;}
  98% {left: 100%;}
  100% {left: 0%;}
}

/* input text on slide */

.slidetext{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4rem;
  font-family: impact, Charcoal, sans-serif;
}

/* section2 */

#section2{
  background-color: rgba(118, 211, 197, 0.5);
  transition: 0.5s;
}

#section2.active{
  background-color: rgba(10, 12, 12, 0.7);
}

.hobbyitem{
  float:left;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hobbycard{ 
  width: 55%;
  height: 80%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}
.hobbycard-left{margin-left: 40%;}
.hobbycard-right{margin-right: 40%;}
.hobbycard-top{margin-top: 9%;}
.hobbycard-bottom{margin-bottom: 9%;}

.hobbycard:hover{
  transform:translateY(20px);
}

.hobbycard:before{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,176.155,0.5),rgba(150,201,61,1));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.hobbycard:hover::before{
  opacity: 0.7;
}

.hobbycard img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.hobbycard .info{
  position: absolute;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transition: 0.5s all;
}

.hobbycard:hover .info{
  opacity: 1;
  transform: translateY(30px);
}

.info h1{font-family: 'Lato', sans-serif; font-size: 40px;}

/* section3 */
#section3{
  background: linear-gradient(to top, rgba(138, 219, 201, 0.5), rgba(122,213,198,0.7));
  transition: 0.5s;
  font-size: 18px;
}

#section3.active{
  background: linear-gradient(to top, rgba(19,23,24,0.5), rgba(15,15,18,0.7));
  color: white;
}

#section3 .goal{
  width: 100%; 
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: end;
}

#section3 .quarter{
  width: 70%;
  height: 80%; 
}

.quarter div {float: left;}

.quarter .goalcontent{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goalcontent-left{
  padding-right: 5%;
  width: 35%;
}

.goalcontent-right{
  padding-left: 5%;
  width: 35%;
}

.quarter .quarterNum{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;;
}

/* 화면 너비  0 ~ 1024px */
@media (max-width: 1024px){
  /* header */
  header{
    width: 100%;
    padding-left: 0;
  }

  aside{
    position: static;
    width: 100%;
    padding-top: 40px;
    height: 50vh;
  }

  #profile-top {
    width: 50%;
    height: 100%;
    float: left;
  }

  #profile-bottom{
    width: 50%;
    float: right;
    height: 100%;
    align-items: center;
  }

  #profile-top > .photo {
    padding-top: 0;
    height: 70%;
  }

  #profile-top > .hello{
    height: 30%;
    font-size: 400%;
  }

  .photo > img {
    width: 300px;
    height: 80%;
  }


  /* section */

  section{
    width: 100%;
    padding: 0; 
  }

  #section1{
    padding: 0;
  }
  
  .slidetext{font-size: 2rem;}
  .quarter .quarterNum{width: 40%;}
  #quarter1 .goalcontent-left, #quarter3 .goalcontent-left{display: none;}
  #quarter1 .goalcontent-right, #quarter3 .goalcontent-right{height: 100%; width: 55%; padding-left: 5%;}
  
  #quarter2 .goalcontent-right, #quarter4 .goalcontent-right{display: none;}
  #quarter2 .goalcontent-left, #quarter4 .goalcontent-left{height: 100%; width: 55%; padding-right: 5%;}
  
  
}

/* 화면 너비 0 ~ 768 */
@media (max-width: 768px){
    header {
      display: none;
    }

    aside{
      padding-top: 0;
      height: 100vh;
    }

    #profile-top > .hello{font-size: 200%;}

    #profile-top {
      height: 50%;
      width: 100%;
    } 

    #profile-bottom{
      height: 50%;
      width: 100%;
    }

    .slidetext{font-size: 20px;}

    .hobbyitem{width: 100%; height: 25%;}
    .hobbycard{margin: 0;}
    .info h1{font-size: 25px;}

    .menutab{display: block;}
}
